body {
	font-family: "Geneva", "Verdana", sans-serif;
}

.navbar {
	border-bottom: solid 1px black;
	padding-bottom: 20px;
}

.navbar a {
	text-decoration: none;
}

.navbar #title {
	font-size: 24px;
}