<form action="{{ url_for('add_thread') }}" method=post>
	<div class="form-group">
		<label for="title">Title:</label>
		<input class="form-control" type=text size=30 name=title required>
	</div>
	<div class="form-group">
		<label for="content">Text:</label>
		<textarea class="form-control" name=content rows=5 cols=40 required></textarea>
	</div>
	<div class="form-group">
		<label for="author">Author:</label>
		<input class="form-control" type=text size=30 name=author>
	</div>
	<button class="btn btn-primary" type="submit">Post</button>
</form>
