{% extends "layout.html" %}
{% block content %}
Hi! Add a post <a href="{{ url_for('post_form') }}">here</a>.<br>
<script type="application/javascript">
	function newThread(){
		$("#form_space").toggle(500);
		$("#form_intro").toggle(550);
	}
</script>
<p id="form_intro">Hi! Add a post <a onclick="newThread()">here</a>.</p>
<div id="form_space" style="display: none">
{% include 'post.html' %}
</div>
{% if threads %}
{% for thread in threads %}
<div class="row">
<div class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title"><a href="{{ thread.ident }}">{{ thread.title }}</a></div>
		</div>
		<div class="panel-body">
			{{ thread.op.content|markdown }}
		</div>
		<div class="panel-footer">
			by {{ thread.op.author }} at {{ thread.op.timestamp }}
		</div>
	</div>
</div>
</div>
{% endfor %}
{% endif %}
{% endblock %}
