{% extends "layout.html" %}
{% block content %}
<script type="text/javascript" src="{{url_for('static', filename='show.js')}}">
</script>
<p id="form_intro" class="collapse in">Hi! Add a post <a onclick="newThread()">here</a>.</p>
<div id="form_space" class="collapse" style="width:60%;margin-left:auto;margin-right:auto;margin-bottom:5%">
{% include 'post.html' %}
</div>
{% if threads %}
{% for thread in threads %}
<div class="row">
<div class="col-md-12">
	<div class="panel panel-default clearfix">
		<div class="panel-heading clearfix">
		<h4 class="pull-left">{{ thread.title }}</h4>
			<div class="btn-group pull-right">
				<a class="btn btn-primary" href="{{ thread.ident }}" style="float:right">View</a>
			</div>
		</div>
		<div class="panel-body">
			{{ thread.op.content|markdown }}
		</div>
		<div class="panel-footer">
			by {{ thread.op.author }} at {{ thread.op.timestamp }}
		</div>
	</div>
</div>
</div>
{% endfor %}
{% endif %}
{% endblock %}
