<!doctype html>
<title>Threads</title>
<body>
Thread {{ thread.ident }}
<li><h2>{{ thread.title }}: {{ thread.op.timestamp.strftime("%Y/%m/%d %H:%M:%S") }}</h2>{{ thread.op.content }}</li>
{% for post in posts %}
<li><h3>{{ post.timestamp.strftime("%Y/%m/%d %H:%M:%S") }}</h3>{{ post.content }}</li>
{% endfor %}
<br>
{{ thread.num_posts }}
<form action="{{ thread.ident + '/post' }}" method=post>
	<dl>
		<dt>Text:</dt>
		<dd><textarea name=content rows=5 cols=40></textarea></dd>
		<dd><input type=hidden name=urlkey value="{{ thread.key.urlsafe() }}">
		<dd><input type=submit value=Post></dd>
	</dl>
</form>
</body>