{% extends "layout.html" %}
{% block content %}
<div class="row">
<div class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">{{ thread.title }}</div> <span class="thread-info">Replies: {{ thread.replies }}</span>

		</div>
		<div class="panel-body">
			{{ thread.op.content }}
		</div>
		<div class="panel-footer">
			<div class="poster-info">by {{ thread.op.author }} at {{ thread.op.timestamp }}</div>
		</div>
	</div>
</div>
</div>
{% for post in posts %}
<div class="row">
<div class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-body">
			{{ post.content }}
		</div>
		<div class="panel-footer">
			by {{ post.author }} at {{ post.timestamp.strftime("%Y/%m/%d %H:%M:%S") }}
		</div>
	</div>
</div>
</div>
{% endfor %}
<input type="submit" >
<div class="post_form">
	<form action="{{ thread.ident + '/post' }}" method=post>
		<dl>
			<dt>Text:</dt>
			<dd><textarea name=content rows=5 cols=40></textarea></dd>
			<dd><input type=hidden name=urlkey value="{{ thread.key.urlsafe() }}"></dd>
			<dt>Author:</dt>
			<dd><input type=text size=30 name=author></dd>
			<dd><input type=submit value=Post></dd>
		</dl>
	</form>
</div>
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='thread.js') }}"></script>
{% endblock %}
{% endblock %}